body {
  font-family: Arial, sans-serif;
  color: black;
}
.overall {
  background-color: #e7e7e7;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 1280px;
  height: 1000px;
  margin: 100px auto;
  border-radius: 24px;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 2em;
  padding: 20px 0 20px 0;
}
.widget-container {
  margin: 0 auto;
  border-radius: 24px;
  background-color: #f8f8f8;
  width: 1100px;
  height: 150px;
}
.navigation-header {
  display: flex;
  padding-left: 20px;
  justify-content: flex-start;
  gap: 20px;
}

.nav-buttons {
  margin-top: 15px;
  font-size: 1.25rem;
  border: none;
  font-weight: 500px;
  background-color: hsla(0, 0%, 93%, 0.896);
  width: 150px;
  height: 40px;
  border-radius: 14px;
  height: 30px;
  cursor: pointer;
}
.nav-buttons:hover {
  background-color: hsla(210, 6%, 32%, 0.283);
}
.summary-container {
  padding-left: 20px;
}
.stars {
  color: #ff9529;
  font-size: 24px;
}
.input-container {
  text-align: center;
  margin: 0 auto;
  border-radius: 24px;
  background-color: #f8f8f8;
  width: 1100px;
  height: 200px;
}
#inputReview {
  border: 2px solid #e7e7e7;
  border-radius: 24px;
  width: 1000px;
  height: 80px;
  margin: 15px auto 15px auto;
  font-size: 1.2rem;
  padding: 15px;
}

#writeButton {
  background-color: #197bff;
  border-radius: 18px;
  align-self: center;
  border: none;
  font-size: 1.25rem;
  font-weight: 500px;
  width: 200px;
  height: 40px;
  color: white;
  cursor: pointer;
}
#writeButton:hover {
  background-color: #197dffa6;
}
.selectButton {
  background-color: hsla(0, 0%, 93%, 0.896);
  color: #197bff;
  border-radius: 18px;
  font-size: 1.25rem;
  font-weight: 500px;
  padding-left: 10px;
  width: 220px;
  height: 40px;
  cursor: pointer;
}
.selectButton:hover {
  background-color: hsla(0, 0%, 83%, 0.595);
}
#agencyButton {
  margin: 5px auto;
  color: #197bff;
  border-radius: 18px;
  font-size: 1rem;
  font-weight: 500px;
  padding-top: 10px;
}
#myReview {
  font-style: italic;
  font-size: 1rem;
}

/* --------Swipper------- */
.swiper {
  overflow: hidden;
  width: 1100px;
}
.swiper-wrapper {
  display: flex;
  text-align: center;
  margin: 0 auto;
  height: 400px;
}
.swiper-slide {
  /* width: 450px; */
  height: 380px;
  margin-top: 20px;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 24px;
  box-sizing: border-box;
  border: 1px solid rgb(231, 231, 231);
  display: flex;
  gap: 170px;
}
.user-info {
  height: 380px;
  padding: 20px;
  margin-left: 20px;
  background-color: #f8f8f8;
  box-sizing: border-box;
  border: none;
  margin-bottom: auto;
}
.input-element {
  margin: 0 auto;
  background-color: #f8f8f8;
  border-radius: 24px;
  border: 2px solid hsla(0, 0%, 83%, 0.595);
  width: 600px;
  box-sizing: border-box;
  margin-bottom: 15px;
  gap: 10px;
}

#inputsReview {
  height: 320px;
  overflow-x: scroll;
}
.default-inputs {
  display: flex;
  margin-left: 50px;
  flex-direction: column;
  color: #afacacf1;
  opacity: 1;
  font-size: 1.1rem;
  font-weight: lighter;
}
.user-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid hsla(0, 0%, 83%, 0.595);
  padding: 4px;
}

.user-name {
  font-size: 1.5em;
  font-weight: lighter;
}
.user-profession {
  font-size: 1em;
  font-weight: lighter;
}

.messageButton {
  margin-top: auto;
  background-color: hsla(0, 0%, 93%, 0.896);
  font-size: 1.25rem;
  font-weight: 500px;
  border: none;
  border-radius: 18px;
  width: 150px;
  height: 40px;
  cursor: pointer;
  transition: 0.2 ease;
}

.messageButton:hover {
  background-color: hsla(0, 0%, 83%, 0.595);
}
